*.pyc
__pycache__/
db.sqlite3
staticfiles/
.env
*.log

# VS Code
.vscode/

# Python virtual environment
venv/
env/

# Media files
media/

# Local development settings
local_settings.py

# Database backups
*.dump